/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  background: rgb(252, 208, 215);
  border-radius: 20px !important;
  border: 5px solid black;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   scrollbar-width: none;
}
